/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(225deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
  background-color: #000;
  background-blend-mode: overlay, overlay, normal;
}

a {
  text-decoration: none;
  transition: all 300ms ease;
  color: #db00b6;
}

/* Navbar styling*/

.logo {
  font-size: 2rem;
  color: white;
}

.logo span {
  color: #db00b6;
  text-shadow: #db00b6 0px 0px 20px;
}

.logo:hover {
  cursor: default;
  transition: 1s ease;
  transform: scale(1.1);
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background-color: #242423;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a:hover {
  border-bottom: 3px solid #db00b6;
}

/*Side-navbar styling*/

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  color: white;
  cursor: pointer;
}

.menu-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  color: #db00b6;
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.menu-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.menu-icon span:first-child {
  opacity: 1;
}
.menu-icon span:first-child {
  transform: none;
}

/* About section */

#about {
  height: 50vh;
  width: 100%;
  display: flex;
}

.image-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.about-me {
  height: 100%;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-container {
  text-align: center;
  line-height: 1.5;
}

.about-me-container h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19, end), cursor 1s step-end infinite alternate;
}

.about-me-container p {
  font-size: 1.2rem;
}

.about-me-container a {
  font-size: 2rem;
  padding: 10px;
}

.about-me-container a:hover {
  border: none;
}

.about-me-container i:hover {
  transform: scale(1.1);
}

#my-name {
  color: #db00b6;
}

#greece {
  color: #48cae4;
}

/*Projects section */

#projects {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
  padding-top: 10px;
}

.description span {
  color: white;
}

.description h2 {
  color: #db00b6;
  font-size: 2.5rem;
}

.projects-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 80%;
  border: 2px solid #db00b6;
  border-radius: 20px;
  padding: 10px 30px;
}

.projects h3 {
  color: white;
  font-size: 1.3rem;
}

.projects img {
  width: 90%;
  height: 60%;
  background-color: white;
  border-radius: 20px;
}

.buttons-container {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.buttons-container button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.1rem;
}

.buttons-container button:hover {
  cursor: pointer;
  border: 2px solid #db00b6;
}

/* Contact section */

#contact {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#contact h2 {
  color: white;
  font-size: 2.5rem;
}

#contact span {
  color: #db00b6;
}

form {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 20px;
}

form input {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
}

form input:hover {
  border: 2px solid #db00b6;
}

form textarea {
  width: 40%;
  padding: 75px;
  margin-top: 25px;
  border-radius: 20px;
}

form button {
  border-radius: 20px;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 6rem;
  font-size: 1.1rem;
}

form button:hover {
  border: 2px solid #db00b6;
  cursor: pointer;
  background-color: #db00b6;
}

/* Footer styling*/

footer {
  height: 10vh;
  background-color: #242423;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

footer ul li {
  list-style: none;
  font-size: 1.4rem;
}

footer p {
  color: white;
}

/* Media Queries*/

@media (max-width: 1200px) {
  #desktop-nav {
    display: none; /* disappear desktop nav in smaller resolution*/
  }

  #hamburger-nav {
    display: flex;
  }
}

/* Animations*/

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 60%;
  }
}
