/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(225deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
  background-color: #000;
  background-blend-mode: overlay, overlay, normal;
}

a {
  text-decoration: none;
  transition: all 300ms ease;
  color: #db00b6;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.grid-container {
  grid-template-columns: repeat(1, 1fr);
}

a:hover {
  cursor: pointer;
}

/* Navbar styling (mobile design) */

.desktop-nav {
  display: none;
  background-color: #242423;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #242423;
}

.menu-icon {
  color: white;
  font-size: 2rem;
}

.menu-links {
  position: fixed;
  transform: translateY(10px);
  transform: translateX(-70px);
  height: 250px;
  width: 120px;
  z-index: 999;
}

.menu-links ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.61);
}

.menu-links li {
  font-size: 1.3rem;
}

.logo {
  font-size: 1.2rem;
}

.logo span {
  color: #db00b6;
}

.menu-icon:hover {
  cursor: pointer;
}

/* About section (mobile design) */

#about {
  display: flex;
  flex-direction: column;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 1em 0;
}

.image-section img {
  width: 200px;
  border-radius: 50%;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3em;
}

.about-me h1 {
  color: white;
}

.about-me span {
  color: #db00b6;
}

.about-me p {
  color: white;
}

.about-me p:last-of-type {
  max-width: 80%;
}

#greece {
  color: rgb(105, 152, 223);
}

.socials-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.socials-wrapper a i {
  font-size: 2rem;
}

/* Projects section (mobile desing) */

#projects {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 1em 0;
}

.description span {
  color: white;
  font-size: 0.8rem;
}

.description h2 {
  color: #db00b6;
  font-size: 1.7rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  gap: 1em;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #db00b6;
  box-shadow: 10px 5px 5px #db00b6;
  border-radius: 10px;
  padding: 1em;
  gap: 0.7em;
}

.projects h3 {
  color: #db00b6;
}

.projects img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.buttons-container button {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: black;
  color: #db00b6;
  border: 1px solid;
}

.buttons-container button:hover {
  cursor: pointer;
  color: black;
  background-color: #db00b6;
}

/* Contact section styling (mobile design) */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.contact-container {
  color: white;
  text-align: center;
}

.contact-container span {
  font-size: 0.8rem;
}

.contact-container h2 span {
  color: #db00b6;
  font-size: 1.7rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5rem;
}

form input {
  padding: 5px;
}

form textarea {
  padding: 30px;
}

form button {
  padding: 5px;
}

form input:hover,
form button:hover {
  border: 1px solid #db00b6;
  border-radius: 5px;
  background-color: black;
  color: white;
}

form input:hover::placeholder {
  color: white;
}

form textarea:hover {
  border-radius: 10px;
}

/* Footer section styling (mobile design) */

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1em;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  color: white;
  font-size: 1rem;
  text-align: center;
  vertical-align: center;
}
